<header class="header">
    <div class="header__inner">
       <!-- Brand -->
       <div class="header__brand">
          <div class="brand-wrap">
             <!-- Brand logo -->
             <a routerLink="/" class="brand-img stretched-link">
                <img src="assets/img/landing_logo.png" alt="Nifty Logo" class="Nifty logo img-fluid">
             </a>
          </div>
       </div>
       <!-- End - Brand -->
       <div class="header__content">
          <!-- Content Header - Left Side: -->
          <div class="header__content-start">
             <!-- Navigation Toggler -->
             <!-- <button type="button" class="nav-toggler header__btn btn btn-icon btn-sm" aria-label="Nav Toggler">
             <i class="demo-psi-view-list"></i>
             </button> -->
             <div class="d-flex w-100 justify-content-center">
                <div class="col-md-5 col-lg-3">
                  <select  (change)="onChange($event)" class="form-select form-select-lg rounded-pill custom-select">
                     <option value="">Select System</option>
                     <option *ngFor="let selectSystem of selectSystem; let id = index"  value="{{selectSystem.system}}">{{selectSystem.system}}</option>
                  </select>
                </div>
             </div>
             
          </div>
          <!-- End - Content Header - Left Side -->
          <!-- Content Header - Right Side: -->
          <div class="header__content-end">
             <!-- Mega Dropdown -->
             <div class="d-lg-none">
                <!-- Toggler -->
                <button class="header__btn btn btn-icon btn-sm" type="button collapse_menu" data-bs-toggle="collapse" data-bs-target="#mainnav-container" aria-expanded="false" aria-controls="mainnav-container">
                <i class="demo-psi-layout-grid"></i>
                </button>
                <!-- Mega Dropdown Menu -->
             </div>
             <!-- End - Mega Dropdown -->
             
             <!-- Notification Dropdown -->
             <div class="dropdown d-lg-block">
                <!-- Toggler -->
                <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-label="Notification dropdown" aria-expanded="false">
                <span class="d-block position-relative">
                   <i class="demo-psi-bell"></i>
                   <span class="badge badge-super rounded bg-danger p-1">
                      <span class="visually-hidden">unread messages</span>
                   </span>
                </span>
                </button>
                <!-- Notification dropdown menu -->
                <div class="dropdown-menu dropdown-menu-end w-md-300px">
                   <div class="border-bottom px-3 py-2 mb-3">
                      <h5>Notifications</h5>
                   </div>
                   <div class="list-group list-group-borderless">
                      <!-- List item -->
                      <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                         <div class="flex-shrink-0 me-3">
                            <i class="demo-psi-data-settings text-muted fs-2"></i>
                         </div>
                         <div class="flex-grow-1 ">
                            <a routerLink="javascript:;" class="h6 d-block mb-0 stretched-link text-decoration-none">Your storage is full</a>
                            <small class="text-muted">Local storage is nearly full.</small>
                         </div>
                      </div>
                      <!-- List item -->
                      <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                         <div class="flex-shrink-0 me-3">
                            <i class="demo-psi-file-edit text-blue-200 fs-2"></i>
                         </div>
                         <div class="flex-grow-1 ">
                            <a routerLink="javascript:;" class="h6 d-block mb-0 stretched-link text-decoration-none">Writing a New Article</a>
                            <small class="text-muted">Wrote a news article for the John Mike</small>
                         </div>
                      </div>
                      <!-- List item -->
                      <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                         <div class="flex-shrink-0 me-3">
                            <i class="demo-psi-speech-bubble-7 text-green-300 fs-2"></i>
                         </div>
                         <div class="flex-grow-1 ">
                            <div class="d-flex justify-content-between align-items-start">
                               <a routerLink="javascript:;" class="h6 mb-0 stretched-link text-decoration-none">Comment sorting</a>
                               <span class="badge bg-info rounded ms-auto">NEW</span>
                            </div>
                            <small class="text-muted">You have 1,256 unsorted comments.</small>
                         </div>
                      </div>
                      <!-- List item -->
                      <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                         <div class="flex-shrink-0 me-3">
                            <img class="img-xs rounded-circle" src="assets/img/profile-photos/7.png" alt="Profile Picture" loading="lazy">
                         </div>
                         <div class="flex-grow-1 ">
                            <a routerLink="javascript:;" class="h6 d-block mb-0 stretched-link text-decoration-none">Lucy Sent you a message</a>
                            <small class="text-muted">30 minutes ago</small>
                         </div>
                      </div>
                      <!-- List item -->
                      <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                         <div class="flex-shrink-0 me-3">
                            <img class="img-xs rounded-circle" src="assets/img/profile-photos/3.png" alt="Profile Picture" loading="lazy">
                         </div>
                         <div class="flex-grow-1 ">
                            <a routerLink="javascript:;" class="h6 d-block mb-0 stretched-link text-decoration-none">Jackson Sent you a message</a>
                            <small class="text-muted">1 hours ago</small>
                         </div>
                      </div>
                      <div class="text-center mb-2">
                         <a routerLink="javascript:;" class="btn-link">Show all Notifications</a>
                      </div>
                   </div>
                </div>
             </div>
             <!-- End - Notification dropdown -->
             <!-- User dropdown -->
             <div class="dropdown">
                <!-- Toggler -->
                <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-label="User dropdown" aria-expanded="false">
                <i class="demo-psi-male"></i>
                </button>
                <!-- User dropdown menu -->
                <div class="dropdown-menu dropdown-menu-end">
                   <!-- User dropdown header -->
                   <div class="d-flex align-items-center border-bottom px-3 py-2">
                      <div class="flex-shrink-0">
                         <img class="img-sm rounded-circle" src="assets/img/profile-photos/1.png" alt="Profile Picture" loading="lazy">
                      </div>
                      <div class="flex-grow-1 ms-3">
                         <h5 class="mb-0">Taqi Raza</h5>
                         <span class="text-muted fst-italic">test@test.com</span>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-md-12">
                         <!-- User menu link -->
                         <div class="list-group list-group-borderless h-100 py-3">
                            <a routerLink="javascript:;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                               <span><i class="demo-pli-mail fs-5 me-2"></i> Messages</span>
                               <span class="badge bg-danger rounded-pill">14</span>
                            </a>
                            <a routerLink="javascript:;" class="list-group-item list-group-item-action">
                               <i class="demo-pli-male fs-5 me-2"></i> Profile
                            </a>
                            <a routerLink="javascript:;" class="list-group-item list-group-item-action">
                               <i class="demo-pli-gear fs-5 me-2"></i> Settings
                            </a>
                            <a routerLink="javascript:;" class="list-group-item list-group-item-action mt-auto">
                               <i class="demo-pli-computer-secure fs-5 me-2"></i> Lock screen
                            </a>
                            <a href="../login.html" class="list-group-item list-group-item-action">
                               <i class="demo-pli-unlock fs-5 me-2"></i> Logout
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             
             <!-- End - User dropdown -->
          </div>
       </div>
    </div>
 </header>