<div class="content__boxed mt-0 pt-4">
    <div class="content__wrap">
        <div class="row">
            <div class="col-xl-12 mb-3">
                <div class="card h-100">
                    <div class="card-header border-bottom d-flex align-items-center border-0">
                        <div class="me-auto">
                            <h3 class="h4 m-0 section_title">Information Of Product Category</h3>
                        </div>
                    </div>
                    <!-- Network - Area Chart -->
                    <div class="card-body py-5 pb-3">
                        <div class="col-md-11 mb-3 mx-auto">
                            <div class="row">
                                <div class="col-md-4 mb-4 position-relative">
                                    <label for="" class="custom_label">Application Name </label>
                                    <input type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-md-4 mb-4 position-relative">
                                    <label for="" class="custom_label">Product Category Code</label>
                                    <input type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-md-4 mb-4 position-relative">
                                    <label for="" class="custom_label">Product Category Name</label>
                                    <input type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="col-md-12 mb-4 position-relative">
                                    <label for="" class="custom_label">Description</label>
                                    <input type="text" class="form-control form-control-lg" />
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                       <div class="form-check form-check-inline">
                                           <input id="_dm-inlineCheckboxes" class="form-check-input" type="checkbox" autocomplete="off" value="active" checked="">
                                           <label for="_dm-inlineCheckboxes" class="form-check-label">Active</label>
                                       </div>
                                    </div>
                                 </div>
                                

                            </div>
                            <div class="row">
                                <div class="col-md-12 text-end">
                                    <button class="btn btn-outline-light custom_btn">Cancel</button>
                                    <button class="btn btn-primary custom_btn ms-3"> Submit </button>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END : Network - Area Chart -->

                </div>
            </div>
          
        </div>
    </div>