<div id="root" class="row">
         <!-- HEADER -->
         <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <app-header></app-header>
        <div class="d-flex bg-white">
        <app-sidebar></app-sidebar>
         
         <section id="content" class="content">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
         </section>
      </div>
         <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
         <!-- END - CONTENTS -->
      </div>