<div class="content__boxed mt-0 pt-4">
    <div class="content__wrap">
        <div class="row">
            <div class="col-xl-12 mb-3">
                <div class="card h-100">
                    
                    <!-- Network - Area Chart -->
                    <div class="card-body py-5 pb-3">
                        <div class="col-md-12 text-center mb-3 mx-auto">
                            <div class="card-block mt-0 py-5">
                                <div class="bps_scale mb-3">BS  7 - 16</div>
                                <button class="btn btn-primary custom_btn px-5 py-3 h-100"> Start Balloting </button>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- END : Network - Area Chart -->

                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <table id="example" class="table datatable w-100 table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Emp <br> Code</th>
                                    <th>Picture</th>
                                    <th>Employee Name</th>
                                    <th>BPS</th>
                                    <th>Substantive Post</th>
                                    <th>Working Post</th>
                                    <th>Office</th>
                                    <th>Present Status</th>
                                    <th>Contact No.</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employe_information of employe_information">
                                    <td class="text-center">{{employe_information.emp_code}}</td>
                                    <td><img src="{{employe_information.emp_picture}}" class="img-fluid rounded-circle"
                                            width="50" /></td>
                                    <td><a href="javascript:;" class="emp_name_tab">{{employe_information.emp_name}} </a></td>
                                    <td>{{employe_information.bps_scale}}</td>
                                    <td>{{employe_information.substantive_post}}</td>
                                    <td>{{employe_information.working_post}}</td>
                                    <td>{{employe_information.office}}</td>
                                    <td>{{employe_information.present_status}}</td>
                                    <td>
                                        <span class="d-block">{{employe_information.contact_no}}</span>
                                        <span class="d-block">{{employe_information.contact_no2}}</span>
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown table_last">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots"></i>
                                            </a>

                                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">{{employe_information.update}}</a></li>
                                                <li><a class="dropdown-item" href="#">{{employe_information.delete}}</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>